    .icons {
    position: absolute;
    bottom: 6px;
    left: 10px;
    margin-top: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    *{
        outline: none;
        margin-right: 4px;
        &:focus {
            outline: none;
        }
    }
}

.icons-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Torus";
    font-weight: 300;
}

.diff-easy {
    path, circle, rect   {
        fill: #88B300 
    }
}

.diff-normal {
    path, circle, rect   {
        fill: #66CCFF 
    }
}

.diff-hard {
    path, circle, rect   {
        fill: #FFCC22
    }
}

.diff-insane {
    path, circle, rect   {
        fill: #FF66AA
    }
}

.diff-expert {
    path, circle, rect   {
        fill: #8866EE
    }
}

.diff-expertplus {
    path, circle, rect   {
        fill: #000000
    }
} 