@import '../../../../Vars.scss';

.header-scroll {
    #general {
        display: none;
    }
    #mode {
        order: 2;
        width: 280px;
        @media screen and (max-width: 940px){
            width: 170px;
        }
        @media screen and (max-width: 1330px){
            width: 200px;
        }
        .content-params-row__title {
            @media screen and (max-width: 1330px){
                display: none;
            }
        }
        .content-params-row__option {
            @media screen and (max-width: 940px){
                margin-right: 0;
            }
        }
    }
    #categories {
        order: 1;
        height: 30px;
        width: 720px;
        margin-right: 30px;
        .content-params-row__title {
            @media screen and (max-width: 1330px){
                display: none;
            }
        }
        @media screen and (max-width: 1243px){
            width: auto;
        }
        @media screen and (max-width: 940px){
            flex-wrap: nowrap;
            width: 550px;
            margin-right: 0;
        }
    }
    .content-params {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and (max-width: 1243px){
            padding: 0 10px;
        }
        &-row{
            width: auto;
            justify-content: flex-start;
            padding-left: 0;
            &__title {
                width: auto;
                padding-right: 15px;
                @media screen and (max-width: 1243px){
                    font-size: 10px;
                }
            }
            &__option {
                @media screen and (max-width: 1243px){
                    font-size: 10px;
                }
            }
            &__options {
                justify-content: space-between;
            }
        }
    }
}

.content-params {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    padding: 0 11%;
    padding-bottom: 10px;
    &-row {
        box-sizing: border-box;
        width: 100%;
        padding-left: 5%;
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
            width: 80px;
            font-weight: 200;
            font-size: 12px;
            color: white;
        }
        &__options {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
        }
        &__option {
            font-weight: 200;
            font-size: 12px;
            margin-right: 15px;
            cursor: pointer;
            input {
                display: none;
            }
            input + span,
            input + svg path,
            input + svg circle,
            input + svg ellipse,
            input + svg rect 
            {
                transition: fill .2s ease, color .2s ease;
                cursor: pointer;
            }
            &>input:checked + span, 
            &>input:checked + svg path,
            &>input:checked + svg circle,
            &>input:checked + svg ellipse,
            &>input:checked + svg rect
            {
                fill: white;
                color: white;
            }
            &>input:not(:checked) + span, 
            &>input:not(:checked) + svg path, 
            &>input:not(:checked) + svg circle,
            &>input:not(:checked) + svg ellipse,
            &>input:not(:checked) + svg rect 
            {
                fill: $fontColor2;
                color: $fontColor2;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}