@import '../../Vars.scss';

.draggable {
    -webkit-app-region: drag;
    height: 100%;
    flex-grow: 1;
}

.window-control {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color1;
    &__settingsBtn {
        width: 30px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: white;
        &:hover {
            background: lighten($color1, 6);
        }
    }
    &__buttons {
        width: 140px;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    &__btn {
        width: 46px;
        height: 100%;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .15s;
        &:last-child:hover {
            background: red;
        }
        &:hover {
            background: lighten($color1, 6);
        }
    }
}