@font-face {
    font-family: "torus-bold";
    src: url('./fonts/Torus-Bold.otf');
}

@font-face {
    font-family: "torus-heavy";
    src: url('./fonts/Torus-Heavy.otf');
}

@font-face {
    font-family: "torus-light";
    src: url('./fonts/Torus-Light.otf');
}

@font-face {
    font-family: "torus-regular";
    src: url('./fonts/Torus-Regular.otf');
}

@font-face {
    font-family: "torus-semibold";
    src: url('./fonts/Torus-SemiBold.otf');
}

@font-face {
    font-family: "torus-thin";
    src: url('./fonts/Torus-Thin.otf');
}