@import '../../../../Vars.scss';

.content-query {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__input {
        height: 34px;
        width: 70%;
        padding-left: 10px;
        border-radius: 5px;
        border: 2px solid $color3;
        box-sizing: border-box;
        background: $color4;
        font-weight: 500;
        font-size: 22px;
        color: $fontColor1;
    }
}

.header-scroll {
    .content-query {
        height: 50px;
    }
}